## Ignore Mac OS Stuff
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
Thumbs_DB

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# From Ruby
.SynchID
.Synchignore
